html,
body {
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Audiowide, sans-serif;
}
body {
  background-color: #161616;
  color: #00b0d7;
  padding: 1%;
}
.top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 12vh;
}
.ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px solid #0a5f72;
  height: 100%;
  width: 20%;
  gap: 1.5rem;
  font-size: x-large;
  border-radius: 10px;
  background-color: #263c4a;
}
main {
  height: 100%;
  width: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game .board {
  height: 50rem;
  width: 50rem;
  background-color: #263c4a;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}
.tile {
  height: 16.5rem;
  width: 16.5rem;
  background-color: #0a5f72;
}
.overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  font-size: xx-large;
  background-color: rgba(158, 158, 158, 0);
  backdrop-filter: blur(10px);
}
.start {
  padding: 1rem 2rem;
}
